body{
  margin: 0;
  text-align: center;
  font-weight: bold;
}


h1{
font-family: 'Palette Mosaic', cursive;
font-weight: normal;
}

h2{
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 2.1rem;
}

h3{
  color: #284E78;
  font-family: 'Roboto', sans-serif;
}


h4{
color:  #284E78;
font-family: 'Roboto', sans-serif;
}


p{
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

hr{
  border: dotted #50CB93 6px;
  border-bottom: 0;
  width: 3%;
  margin: 100px auto;
}


a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}


.firstbox{
  background-color:#CDF0EA;
  padding: 100px;
  display: block;
  position: relative;
  height: 430px;
}


.secondbox{
  margin-top: 100px;
}

.secondbox1{
  padding-top: 100px;
  position: relative;
}


.thirdbox{
  width: 50%;
  margin: 90px auto 180px auto;
  text-align: left;
  line-height: 2;
}


.contact-me{
  position: relative;
}


.bottom-container{
  position:relative;
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}



.amit{
  margin-top: 39px;
  font-size: 5.625rem;
  color:  #000000;
}

.pro{
  margin-top: 69px;
  color: #000000;
  font-size: 33px;
}


.dp{
  width: 300px;
  position: absolute;
  top: 0;
  right: 100px;
}

.nature{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cloud{
  width: 600px;
  position: absolute;
  left: 369px;
  top: 9px;
}


.intro{
  width: 300px;
  margin: auto;
  line-height: 2;
}


.name{
  margin-top: 0;
  width: 90px;
  position: absolute;
  left: 510px;
  top: 90px;
}

.avenger{
  padding-top: 60px;
}

.deadpool{
  width: 210px;
  position: absolute;
  left: 90px;
  top: 30px;
}

.vid{
  border-radius: 18%;
  position: absolute;
  top: 10px;
  right: 39px;
}

.deadpoolentry{
  margin-top: 0;
  font-size: 30px;
  font-family: 'MonteCarlo', cursive;
  position: absolute;
  top: 3px;
  left: 180px;
}


.mem{
  color: #001E6C;
}

.captain{
  border-radius: 100%;
  width: 180px;
  float: left;
  margin-right: 30px;
}


.iron{
    border-radius: 100%;
    height: 200px;
  width: 200px;
  float: right;
  margin-left: 30px;
}

.thor{
  border-radius: 100%;
  width: 180px;
  height: 330px;
  float: left;
  margin-right: 30px;
  position: relative;
  bottom: 30px;
}


.hulk{
  border-radius: 100%;
  height: 200px;
width: 200px;
float: right;
margin-left: 30px;
}

.black{
  border-radius: 100%;
  width:200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.clint{
  border-radius: 100%;
  height: 200px;
width: 200px;
float: right;
margin-left: 30px;
}



.ddd{
  width: 303px;
  position: absolute;
  bottom: 175px;
  right:100px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
